:lang(en){
    /*styles for English text*/
}
div {
    max-width: 1600px;
     margin: 0 auto;
    }
nav a {
    color:black; 
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color:#A3B693;
}
body{
    background-color:#E3E3E2;
}
header{
    background-color:#D7E4CD;
}
nav{
    background-color: #F97F0E;
}
nav a:hover {
    background-color:#572600;
    color:#1693a4;
    text-decoration: underline;
}
.book,.join{
    background-color:#F97F0E;
    color:black;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color:#A3B693;
    color:black;
    text-decoration: underline;
}
.msg {
    background-color:#D7E4CD;
}
footer{
    background-color:#F97F0E;
    color:black
}
.home-title{
    color:#1693a4;
    text-align: center;
}
h4{
    color:#1693a4;
    text-align: center;
}
.msg h2{
    color:#1693a4;
}
.msg p{
    color:black;
}
footer a:hover{
    background-color:#572600;
    color:#1693a4;
    text-decoration: underline;
}
footer a{
    color:black;
    text-decoration: none;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width:100%;
}
footer p{
    font-size: 1.2em;
}
/*Idk why its not loading*/