@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Marcellus&family=Titan+One&family=Varela+Round&display=swap');
/* --heading-font: Marcellus, Arial, Tahoma;
--paragraph-font: 'Varela Round', Arimo, 'Gill Sans', Helvetica ; */


.logo{
  width: 150px;
  justify-self: center;
  align-self: center;
  margin-left: 13px;
  border-radius: 10px;
  
}
#hero-box{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  margin-top: -155px;
  
}
#hero-img{
  width: 98%;
  height: 600px;
  grid-column: 1/8;
  grid-row: 1/7;
  justify-self: center;
  align-self: center;
  z-index: -1;
}
#selection-box{
  background-color:#828DA3 ;
  grid-column: 2/4;
  grid-row:3/6;
  border: 5px solid #101E3F;

}
#select-title{
  text-align: center;
  font-family:'Marcellus', Arial, Tahoma;
}
#selection-box h4{
  font-size: 1.5em;
}
.state-select{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-bottom: 10px;
}
select{
  grid-column: 2/5;
  grid-row: 1/2;
  margin-left: 50px;
  margin-right: 10px;
}
.federal-button-box{
  grid-column:2/3;
  grid-row:3/4;
  padding-left: 50px;
  
  
  
}
.federal{
  color:#FEFEFE;
  background-color: #781B32;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  box-shadow: 5px 5px 10px #6f7364;  
  font-family:'Marcellus', Arial, Tahoma;
}
.state-button-box{
  grid-column: 4/5;
  grid-row:3/4;
  padding-right: 10px;
  padding-left: 130px;
  color:#781B32
  
}
.state{
  color:#FEFEFE;
  background-color: #781B32;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  box-shadow: 5px 5px 10px #6f7364;
  font-family:'Marcellus', Arial, Tahoma;
  
}

#about-us{
  margin: 20px;
  padding: 5%;
  color:#101E3F;
  font-family:'Marcellus', Arial, Tahoma;

}
.title{
  text-align: center;
  font-size: 2em;
  font-family:'Marcellus', Arial, Tahoma;
}
#about-us h4{
  font-size: 1.25em;
  font-family:'Marcellus', Arial, Tahoma;
}
#about-us img{
  width: 300px;
  word-wrap:inherit;
  margin-left: 36%;
}
#voter-eligibility{
  margin: 20px;
  padding: 5%;
  color:black;
  background-color: #828DA3;
  font-family:'Marcellus', Arial, Tahoma;
}
ul{
  margin-left: 25%;
  font-family: 'Varela Round', Arimo, 'Gill Sans', Helvetica ;
}
#voter-eligibility p{
  text-align: center;
  font-family: 'Varela Round', Arimo, 'Gill Sans', Helvetica ;
}
#voter-eligibility a{
  margin: 40%;
  text-align: center;
  box-shadow: 5px 5px 10px #6f7364;
  background-color:#781B32 ;
  color:#FEFEFE;
  text-decoration: none;
  font-size: 1.5em;
  font-family:'Marcellus', Arial, Tahoma;
}
#identifying-rep{
  margin: 20px;
  padding: 5%;
  color:#101E3F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family:'Marcellus', Arial, Tahoma;
}
#identifying-rep h4{
  grid-column: 1/6;
  font-family:'Marcellus', Arial, Tahoma;
}
#identifying-rep p{
  text-align: center;
  grid-column: 2/5;
  font-family: 'Varela Round', Arimo, 'Gill Sans', Helvetica ;
}
.house{
 grid-column: 2/3;
 box-shadow: 5px 5px 10px #6f7364;
 background-color:#781B32 ;
 text-align: center;
 font-family:'Marcellus', Arial, Tahoma;
}
.house a{
  color:#FEFEFE;
  text-decoration: none;
  font-size: 1.5em;
}
.congress{
  grid-column: 4/5;
  text-align: center;
  box-shadow: 5px 5px 10px #6f7364;
  background-color:#781B32 ;
  font-family:'Marcellus', Arial, Tahoma;
}
.congress a{
  color:#FEFEFE;
  text-decoration: none;
  font-size: 1.5em;
  
}
.congress a:hover, .house a:hover, #voter-eligibility a:hover, .federal:hover, .state:hover {
  background-color:#FEFEFE;
  color:black;
}
#final-words{
  margin: 20px;
  padding: 5%;
  color:#101E3F;
  text-align: center;
  font-size: 1.25em;
  font-family: 'Varela Round', Arimo, 'Gill Sans', Helvetica ;
}
footer{
  background-color:#781B32;
  color:#FEFEFE;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  font-family:'Marcellus', Arial, Tahoma;
}
footer a{
  color:#FEFEFE;
  text-decoration: none;
  font-family:'Marcellus', Arial, Tahoma;
}
footer a:hover{
  background-color:#101E3F;
  color:#FEFEFE;
  text-decoration: underline;
}
footer .social img{
  padding-top: 15px;
}


/* taken from https://www.w3schools.com/howto/howto_custom_select.asp */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #396E94;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #396E94;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Page 2 Federal Representitives*/

.dark-mode {
  background-color: black;
  color: #FEFEFE;
}
.dark-mode a{
  background-color: black;
  color: #FEFEFE;
}
.dark-mode div{
  background-color: black;
}
#main h4{
  font-family:'Marcellus', Arial, Tahoma;
}
#main p{
  font-family: 'Varela Round', Arimo, 'Gill Sans', Helvetica ;
}
nav{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 75px 75px 75px;
  
}
nav a{
  color:#101E3F;
  text-align: center;
  text-decoration: none;
}
#logo_link{
  grid-column: 1/2 ;
  grid-row:1/3;
}
.home{
  grid-column: 2/4;
  grid-row:2/3;
  font-size: 1.5em;
  padding-top: 10%;
  border-bottom: 5px solid #101E3F;
  box-shadow: 0px 5px 10px #6f7364;
  font-family:'Marcellus', Arial, Tahoma;
}
.home:hover{
  background-color: #781B32;
  color:#FEFEFE
}
.statereps{
  grid-column: 6/8;
  grid-row:2/3;
  font-size: 1.5em;
  padding-top: 10%;
  border-bottom: 5px solid #101E3F;
  box-shadow: 5px 5px 10px #6f7364;
  font-family:'Marcellus', Arial, Tahoma;
}
.statereps:hover{
  background-color: #781B32;
  color:#FEFEFE
}
nav div{
  grid-column: 4/6;
  grid-row: 1/4;
  justify-content: center;
  align-content: center;
  border: 5px solid #101E3F;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  width: 400px;
  box-shadow: 10px 10px 15px #6f7364;
  font-family:'Marcellus', Arial, Tahoma;
}
.dark{
  margin: 0 45%;
  width:auto;
}

#federalhouse{
  display: grid;
  grid-template-columns: 75px 1fr 75px 1fr 75px;
  background-color: #828DA3;
  margin: 0 100px 15px;
  padding: 20px 0;
  border-radius: 10px;
  
}
.sub-title{
  text-align: center;
  font-family:'Marcellus', Arial, Tahoma;
}
.dark-mode #blakemoore-box{
  background-color: black;
}
#blakemoore-box{
  grid-column: 2/3;
  box-shadow: 10px 10px 15px #6f7364;
  margin: 10px;
  background-color: #FEFEFE;
  
}
#blakemoore-box h4{
  font-size: 1.5em;
  text-align: center;
  
}
#blakemoore-box p{
  text-align: center;
}
#blakemoore-box a{
  margin:31%;
}
#chrisstewart-box{
  grid-column: 4/5;
  box-shadow: 10px 10px 15px #6f7364;
  margin: 10px;
  background-color: #FEFEFE;
}
.dark-mode #chrisstewart-box{
  background: black;
}
#chrisstewart-box h4{
  font-size: 1.5em;
  text-align: center;
}
#chrisstewart-box p{
  text-align: center;
}
#chrisstewart-box a{
  margin:31%;
}
#johncurtis-box{
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: 10px 10px 15px #6f7364;
  margin: 10px;
  background-color: #FEFEFE;
}
.dark-mode #johncurtis-box{
  background: black;
}
#johncurtis-box h4{
  font-size: 1.5em;
  text-align: center;
}
#johncurtis-box a{
  margin:31%;
}
#johncurtis-box p{
  text-align: center;
}
#burgessowens-box{
  grid-column: 4/5;
  grid-row:2/3;
  box-shadow: 10px 10px 15px #6f7364;
  margin: 10px;
  background-color: #FEFEFE;
}
.dark-mode #burgessowens-box{
  background: black;
}
#burgessowens-box h4{
  font-size: 1.5em;
  text-align: center;
}
#burgessowens-box p{
  text-align: center;
}
#burgessowens-box a{
  margin:30%;
}
.middle-banner{
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 7%;
}
.middle-banner h2{
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 155px;
  background-color: #781B32;
  color: #FEFEFE;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #6f7364;
  margin: 20px;
  
}
#federalsenate{
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}
#mikelee-box{
  width: 40%;
  border:5px outset black;
  padding: 10px;
}
#mikelee-box h4{
  text-align: center;
  font-size: 1.5em;
}
#mikelee-box p{
  text-align: center;
}
#mikelee-box a{
  margin:30%;
}
#mittromney-box{
  width: 40%;
  border:5px outset black;
  padding: 10px;
}
#mittromney-box h4{
  text-align: center;
  font-size: 1.5em;
}
#mittromney-box p{
  text-align: center;
}
#mittromney-box a{
  margin:30%;
}

/*Page 3 The Utah State Representatives*/

#statehouse{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin:0 10%;
}
.middle-banner img{
  margin-top: 20px;
  margin-bottom: 20px;
  }
#statesenate{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin:0 15%;
}